## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [17]:
# Your code here
sample_list_1 = random.sample(range(100), k=80)
print(sample_list_1)

[37, 58, 8, 54, 3, 60, 49, 48, 73, 5, 2, 79, 69, 74, 34, 82, 16, 81, 27, 72, 71, 44, 77, 39, 94, 88, 1, 55, 47, 30, 9, 23, 76, 4, 97, 7, 45, 32, 59, 18, 35, 38, 22, 65, 31, 92, 68, 85, 36, 52, 84, 91, 61, 0, 21, 43, 86, 19, 10, 83, 50, 87, 90, 57, 6, 20, 17, 75, 12, 93, 66, 62, 33, 40, 95, 46, 26, 42, 28, 56]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [19]:
# Your code here
set1 = set((sample_list_1))
print(set1)

print('the length pf the set is:', len(set1))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 16, 17, 18, 19, 20, 21, 22, 23, 26, 27, 28, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 54, 55, 56, 57, 58, 59, 60, 61, 62, 65, 66, 68, 69, 71, 72, 73, 74, 75, 76, 77, 79, 81, 82, 83, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 97}
the length pf the set is: 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [41]:
# Your code here
sample_list_2 = []

for i in range(80):
    i = random.randint(0, 100)
    sample_list_2.append(i)
print(sample_list_2)

print('The length of the list is:', len(sample_list_2))

[83, 6, 37, 96, 63, 82, 12, 84, 47, 94, 48, 3, 77, 60, 48, 5, 72, 68, 25, 22, 5, 85, 87, 54, 9, 32, 86, 14, 51, 30, 45, 41, 35, 50, 70, 39, 32, 58, 13, 23, 49, 61, 36, 2, 92, 23, 37, 42, 67, 55, 69, 96, 56, 74, 27, 58, 34, 81, 44, 8, 63, 63, 17, 17, 21, 32, 84, 23, 30, 70, 15, 76, 59, 41, 92, 70, 94, 60, 84, 100]
The length of the list is: 80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [42]:
# Your code here
set2 = set(sample_list_2)
print(set2)

print('The lenght of the set is:', len(set2))

{2, 3, 5, 6, 8, 9, 12, 13, 14, 15, 17, 21, 22, 23, 25, 27, 30, 32, 34, 35, 36, 37, 39, 41, 42, 44, 45, 47, 48, 49, 50, 51, 54, 55, 56, 58, 59, 60, 61, 63, 67, 68, 69, 70, 72, 74, 76, 77, 81, 82, 83, 84, 85, 86, 87, 92, 94, 96, 100}
The lenght of the set is: 59

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [44]:
# Your code here
# welke zitten wel in set1 maar niet in set2 >> set1 - set2

set3 = set1 - set2
print(set3)

{0, 1, 4, 7, 10, 16, 18, 19, 20, 26, 28, 31, 33, 38, 40, 43, 46, 52, 57, 62, 65, 66, 71, 73, 75, 79, 88, 90, 91, 93, 95, 97}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [45]:
# Your code here
# welke zitten wel in set2 maar niet in set1 >> set2 - set1

set4 = set2 - set1
print(set4)

{96, 67, 100, 70, 41, 13, 14, 15, 51, 25, 63}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [46]:
# Your code here
# welke elementen zitten in set1 en in set2 >> intersection 

set5 = set1.intersection(set2)
print(set5)

{2, 3, 5, 6, 8, 9, 12, 17, 21, 22, 23, 27, 30, 32, 34, 35, 36, 37, 39, 42, 44, 45, 47, 48, 49, 50, 54, 55, 56, 58, 59, 60, 61, 68, 69, 72, 74, 76, 77, 81, 82, 83, 84, 85, 86, 87, 92, 94}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [60]:
# Your code here

if len(set1) == len(set2):
    print('set1 has the same length as set2')
elif len(set1) == len(set3):
    print('set1 has the same length as set3')
elif len(set1) == len(set4):
    print('set1 has the same length as set4')
elif len(set1) == len(set5):
    print('set1 has the same length as set5')
elif len(set2) == len(set3):
    print('set2 has the same length as set3')
elif len(set2) == len(set4):
    print('set2 has the same length as set4')
elif len(set2) == len(set5):
    print('set2 has the same length as set5')
elif len(set3) == len(set4):
    print('set3 has the same length as set4')
elif len(set3) == len(set5):
    print('set3 has the same length as set5')
elif len(set4) == len(set5):
    print('set4 has the same length as set4')
else:
    print('All the sets are not related')
    
# checking the length
print(len(set1)) 
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

'''
note for myself:
    len(set1) == len(set2)
    len(set1) == len(set3)
    len(set1) == len(set4)
    len(set1) == len(set5)
'''

All the sets are not related
80
59
32
11
48

'\nnote for myself:\n    len(set1) == len(set2)\n    len(set1) == len(set3)\n    len(set1) == len(set4)\n    len(set1) == len(set5)\n'

#### Create an empty set called `set6`.

In [62]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [69]:
# Your code here
set6.update(set3.union(set5))
print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 16, 17, 18, 19, 20, 21, 22, 23, 26, 27, 28, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 54, 55, 56, 57, 58, 59, 60, 61, 62, 65, 66, 68, 69, 71, 72, 73, 74, 75, 76, 77, 79, 81, 82, 83, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 97}

#### Check if `set1` and `set6` are equal.

In [71]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [79]:
# Your code here

set1.issubset(set2)
set1.issubset(set3)

print('Both are false: not all items in set1 exists in set2 or set3')

Both are false: not all items in set1 exists in set2 or set3

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [83]:
# Your code here
aggregate_set3_set4_set5 = set3.union(set4.union(set5))
print('aggregated set3, set4 and set5:', aggregate_set1_set4_set5)

aggregate_set1_set2 = set1.union(set2)
print('aggregated set1 and set2:', aggregate_set1_set2)

aggregated set3, set4 and set5: {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 79, 81, 82, 83, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 100}
aggregated set1 and set2: {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 79, 81, 82, 83, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 100}

#### Using the `pop` method, remove the first element from `set1`.

In [ ]:
# Your code here

'''Whit pop you can not say which element you removed.
so removing the first element with pop is not possible'''

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [105]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
new_set = set()
same_elements = []

# welke values komen overeen + maak nieuwe lijst
for i in set1:
    if i == i in list_to_remove:
        same_elements.append(i)

# maak set van values die overeen komen 
new_set.update(same_elements)

# remaining elements in set 6: set6 - new_set
left_over_set6 = set6 - new_set 

print('remaining elements in set6 are:', left_over_set6)

remaining elements in set6 are: {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 16, 17, 18, 19, 20, 22, 23, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 52, 54, 55, 56, 57, 58, 60, 62, 65, 66, 68, 72, 73, 74, 75, 76, 77, 82, 83, 84, 85, 86, 87, 88, 90, 92, 93, 94, 95, 97}